body {
    font-family: Arial, sans-serif;
    background-image: url("pictures/about_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    background-color: mediumspringgreen;
    padding: 10px;
    margin-bottom: 15px;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

nav {
    background-color: #f0f0f0;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-bottom: 5px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px;
}

nav ul li a:hover {
    background-color: cornflowerblue;
}

nav ul li a.active {
    background-color: cornflowerblue;
    color: #fff;
    font-style: italic;
}

.about-content {
    background-color: lightsteelblue;
    color: #000;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.about-content h2 {
    margin-top: 0;
}

.profile-image {
    text-align: center;
    margin-top: 20px;
}

.profile-image img {
    height: 225px;
    border-radius: 50%;
}

.left-panel {
    background-color: blanchedalmond;
    padding: 15px;
    color: #fff;
    width: 200px;
    height: 450px;
    position: absolute;
    top: 0;
    margin: 20px;
    left: 0;
}

.left-panel h2 {
    text-align: center;
    color: #000;
}

.left-panel p {
    margin: 10px 0;
    color: #000;
}

.left-panel img {
    width: 100%; 
    height: auto;
    display: block; 
    margin-bottom: 10px;
}

@media screen and (min-width: 414px) and (max-width: 896px) {
    .container {
        padding: 40px;
    }

    .about-content {
        padding: 20px; 
    }

    .left-panel {
        height: auto;
    }

    .left-panel img {
        margin: 0 auto; 
    }
}

@media screen and (min-width: 375px) and (max-width: 667px) {
    header h1 {
        font-size: 24px;
    }

    nav ul li a {
        padding: 3px;
    }

    .container {
        padding: 20px;
    }

    .about-content {
        padding: 15px;
    }

    .left-panel {
        width: 100%;
        margin: 10px 0;
        position: static;
    }

    .profile-image img {
        height: 150px;
    }
}

@media screen and (min-width: 360px) and (max-width: 640px) {
    .container {
        padding: 15px;
    }

    header h1 {
        font-size: 22px;
    }

    .left-panel p {
        font-size: 14px;
    }

    .left-panel h2,
    .about-content h2 {
        font-size: 20px;
    }

    .about-content {
        padding: 10px;
    }

    .profile-image img {
        height: 125px;
    }
}